* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.boxabt{
        width: 800px;
        height: 400px;      
        background: url('/images/img-1.jpg') no-repeat center center fixed;
        margin: 20px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
    } 

.nav nav-tabs {
  display: inline;
}
.nav-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*Extra*/
.basic-1 {
	padding-top: 6.5rem;
	padding-bottom: 3rem;
}

.basic-1 .text-container {
	margin-bottom: 3rem;
}

.basic-1 .section-title {
	margin-bottom: 0.5rem;
}

.basic-1 h2 {
	margin-bottom: 1.375rem;
}

.basic-1 .testimonial-author {
	color: #484a46;
}

/* Hover Animation */
.basic-1 .image-container {
	overflow: hidden;
	border-radius: 0.25rem;
}

.basic-1 .image-container img {
	margin: 0;
	border-radius: 0.25rem;
	transition: all 0.3s;
}

.basic-1 .image-container:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 

.cards-1 {
	padding-top: 3rem;
	padding-bottom: 2.875rem;
}

.cards-1 .card {
	margin-bottom: 2.5rem;
	border: none;
	text-align: center;
}

.cards-1 .fa-stack {
	width: 6rem;
	height: 6rem;
	margin-right: auto;
	margin-bottom: 1rem;
	margin-left: auto;
	line-height: 6rem;
	text-align: left;
}

.cards-1 .fa-stack .hexagon {
	position: absolute;
	float: left;
	width: 6rem;
	height: 6rem;
	background: url('/images/hexagon-green.svg') center center no-repeat;
	background-size: 6rem 6rem;
}

.cards-1 .fa-stack-1x {
	color: #fff;
	font-size: 2rem;
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .card-title {
	margin-bottom: 0.625rem;
}
.section-title {
	color: #FFD700;
}

